

body {
    background-color: #a5a58d;
    font-family: 'Open Sans', sans-serif;
   
}

.game-board {
    background-color: #b7b7a4;
    font-size: 20px;
    height: 800px;
    width: 700px;
    position: relative;
    text-align: center;
    margin: 30px auto;
    padding: 20px;
    border: 3px solid #6b705c;
    border-radius: 7%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}
.computer {
    grid-column: 3 / 4;
    grid-row: 1 / 1;
}
.player {
    grid-column: 3 / 4;
    grid-row: 5 / 5;
}

.fas {
    color: black;
    /* background-color:  */

    font-size: 80px;

}




.buttons { 
    /* border: 2px solid #6b705c; Come back to fix this border container issue */
    grid-column: 5 / 5;
    grid-row: 5 / 5;
}
/* find out why these have to be notated seperately in order to work */
.deal {
    color: black; 
    background-color: #b7b7a4;
    font-size: 20px;
    border-radius: 30%;
}
.reset {
    color: black; 
    background-color: #b7b7a4;
    font-size: 20px;
    border-radius: 30%;
}
.next-turn {
    color: black; 
    background-color: #b7b7a4;
    font-size: 20px;
    border-radius: 30%;
}

/* .buttons:hover { */
    /* color: #ffe8d6;  */
    /* background-color: #a5a58d; */
    /* border: 2px solid #6b705c; */
    /* border-radius: 20%; */
    /* opacity: 60%; */
/* } */

/* .decks {
    border: 1px solid black;
} */
.placeholder {
    grid-column: 3 / 4;
    grid-row: 3 / 3;
}


/* where the overflow is */
#computerHand {
    grid-column: 4 / 5;
    grid-row: 3 / 3;
    overflow: hidden;
}

#playerHand {
    grid-column: 2 / 3;
    grid-row: 3 / 3;
    overflow: hidden;
}

#computer-score {
    margin-top: 10px;
    border: 1px solid black;
    padding: 2px;
    
}

#player-score {
    margin-top: 10px;
    border: 1px solid black;
    padding: 2px;
    
}