

body {
    background-color: #708d81;
    /* background: linear-gradient(to right, #e2cfc4, #f7d9c4); */
    font-family: 'Open Sans', sans-serif;
   
}

.game-board {
    /* background-color: #b7b7a4; */
    background-color: #f2e8cf;
    /* background: linear-gradient(to right, #f7d9c4, #e2cfc4); */
    font-size: 20px;
    height: 800px;
    width: 700px;
    position: relative;
    text-align: center;
    margin: 30px auto;
    padding: 20px;
    border: 3px solid #373d20;
    border-radius: 7%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

.game-rules {
    /* background: linear-gradient(to right, #f7d9c4, #e2cfc4); */
    background-color: #f2e8cf;
    font-size: 25px;
    height: 200px;
    width: 700px;
    position: relative;
    text-align: center;
    margin:  auto;
    padding: 10px;
    border: 3px solid #373d20;
    border-radius: 7%;
}


h2 {
    margin: 10px 0px;
    color: #708d81;
}

#rules{
    display: block;
    font-size: 15px;
    margin: 0px 32px;
   
}

.computer {
    grid-column: 3 / 4;
    grid-row: 1 / 1;
}
.player {
    grid-column: 3 / 4;
    grid-row: 5 / 5;
}

.fas {
    color: black;
    /* background-color:  */
    font-size: 80px;
}



.buttons { 
    /* border: 2px solid #6b705c; Come back to fix this border container issue */
    grid-column: 5 / 5;
    grid-row: 5 / 5;
}
/* find out why these have to be notated seperately in order to work */
.deal {
    color: black; 
    background-color: #b7b7a4;
    font-size: 20px;
    border-radius: 30%;
    padding: 5px;
    margin: 5px;

}

.next-turn {
    color: black; 
    background-color: #b7b7a4;
    font-size: 20px;
    border-radius: 30%;
    padding: 5px;
    margin: 5px;
}

.deal:hover { 
    color: black; 
    background-color: #a5a58d;
    border: 2px solid #6b705c;
    border-radius: 20%;
    opacity: 60%;
    font-size: 24px;
}

.next-turn:hover { 
    color: black; 
    background-color: #a5a58d;
    border: 2px solid #6b705c;
    border-radius: 20%;
    opacity: 60%;
    font-size: 24px;
}

/* .decks {
    border: 1px solid black;
} */

#placeholder {
    grid-column: 3 / 4;
    grid-row: 3 / 3;
    
}
#warPlaceholder{
    grid-column: 3 / 4;
    grid-row: 2 / 2;
    font-weight: bold;
    font-size: 30px;
    align-self: end;
}


/* where the overflow is */
#computerHand {
    grid-column: 4 / 5;
    grid-row: 3 / 3;
    overflow: hidden;
}

#playerHand {
    grid-column: 2 / 3;
    grid-row: 3 / 3;
    overflow: hidden;
}

#computer-score {
    margin-top: 10px;
    border: 1px solid black;
    padding: 2px;
    
}

#player-score {
    margin-top: 10px;
    border: 1px solid black;
    padding: 2px;
    
}