body {
    background-color: #bdc8cf;
    /* background: linear-gradient(to right, #e2cfc4, #f7d9c4); */
    font-family: 'Open Sans', sans-serif;
   
}

.game-board {
    background-color: #ebeced;
    font-size: 20px;
    height: 800px;
    width: 700px;
    position: relative;
    text-align: center;
    margin: 30px auto;
    padding: 20px;
    border: 3px solid #373d20;
    border-radius: 7%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

/* put title on left and how to play under that, flex directions and have it cont on other side */
h2 {
    margin: 10px 0px;
    color: #708d81;
    font-weight: 800;
}

.computer {
    grid-column: 3 / 4;
    grid-row: 1 / 1;
}
.player {
    grid-column: 3 / 4;
    grid-row: 5 / 5;
}
.fas {
    color: black;
    font-size: 80px;
}

.buttons { 
    grid-column: 5 / 5;
    grid-row: 5 / 5;
}

.deal {
    color: black; 
    background-color: #bdc8cf;
    font-size: 20px;
    border-radius: 30%;
    padding: 5px;
    margin: 5px;
}

.next-turn {
    color: black; 
    background-color: #bdc8cf;
    font-size: 20px;
    border-radius: 30%;
    padding: 5px;
    margin: 5px;
}

.deal:hover { 
    color: black; 
    background-color: rgb(202, 201, 209);
    border: 2px solid black;
    border-radius: 20%;
    opacity: 60%;
    font-weight: 700;
}

.next-turn:hover { 
    color: black; 
    background-color: rgb(202, 201, 209);
    border: 2px solid black;
    border-radius: 20%;
    opacity: 60%;
    font-weight: 700;
    
}

#placeholder {
    grid-column: 3 / 4;
    grid-row: 3 / 3;
    
}

#warPlaceholder{
    grid-column: 3 / 4;
    grid-row: 2 / 2;
    font-weight: bold;
    font-size: 30px;
    align-self: end;
}

#computerHand {
    grid-column: 4 / 5;
    grid-row: 3 / 3;
    overflow: hidden;
}

#playerHand {
    grid-column: 2 / 3;
    grid-row: 3 / 3;
    overflow: hidden;
}

#computer-score {
    margin-top: 10px;
    border: 1px solid black;
    padding: 2px;
    
}

#player-score {
    margin-top: 10px;
    border: 1px solid black;
    padding: 2px;
}


.dropbtn {
    /* background-color: #3c9977; */
    color: black;
    padding: 16px 30px;
    margin: 0px 80px 0px 0px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #bdc8cf;}